@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- ส่วน Custom CSS สำหรับ 3D Animation --- */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

body {
  background-color: #f8fafc; /* สีพื้นหลังเทาฟ้าอ่อนๆ */
}